@page
@model Webshop.Pages.CheckOutModel
@{
}



@foreach (var produckt in Model.CartList)
{



   

<div class="card" style="width: 18rem;">
    <img src="./img/@produckt.ImgFileName" class="card-img-top" alt="card image cap">
    <div class="card-body">
        <h5 class="card-title">@produckt.Title</h5>
        <p class="card-text">@produckt.Info @produckt.Price</p>

    </div>
</div>

    }
    

