@page
@model Webshop.Pages.ShopModel
@{
}
<h3>@Model.FsMsg</h3>
@foreach (var prod in Model.Produckts)
{
    <h2> Producktens Namn </h2>
       <h3> @prod.Name</h3>
    <br>
    <img src="" />
    

    <div class="card" style="width: 18rem;">
        <img src="./img/@prod.ImageFileName" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
<h2>pris =</h2> <h4>@prod.Price</h4>

}
