@page
@model Webshop.Pages.ShopModel
@{
}



<div class="text-center">
    <h1 class="display-4">Mina filmer</h1>



    

    @foreach (var products in Model.ProductsList)
    {



        if (products is Models.Sandaler)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>

                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" />
                    @(((Models.Sandaler)products).Färg)
                </div>





            </p>

        }


    }



</div>