@page
@model Webshop.Pages.ShopModel
@{
}



<div class="text-center">
    <h1 class="display-4">Välj en sko kategori</h1>
    @foreach (var products in Model.ProductsList)
    {
        
        if (products is Models.Sandaler)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <img src="./img/@products.ImgFileName" />
                    <a href="Sandal" class="btn btn-primary stretched-link">Flera Sandlar  här</a>
                </div>
            </p>

        }

        if (products is Models.Sneakers)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <img src="./img/@products.ImgFileName" />

                    <a href="Sneakers" class="btn btn-primary stretched-link">Flera Sneakers här</a>
                </div>
            </p>
        }

        if (products is Models.Stövlar)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <img src="./img/@products.ImgFileName" />

                    <a href="Stövlar" class="btn btn-primary stretched-link">Flera Stövlar här</a>

                </div>
            </p>
        }


    }

   



</div>